*{margin:0; padding: 0; box-sizing: border-box;}


h1 {
    font-size: 30px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transition: 0.2s;

}

h1:hover {
    font-size: 32px;
    transition: 0.2s;
}

.lista {
    margin: 0 auto;
    width: 40%;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    font-size: 25px;
    box-shadow: 0px 10px 10px black;
}

.textarea {
    resize: none;
    font-size: 20px;
    /* margin: topo | direita | inferior | esquerda */
    margin: 10px 0px 10px 0px;
    padding: 3px;
    width: 460px;

}
.popup {
    border-radius: 20px;
    width: 120px;
    height: 50px;
    outline: none;
    font-size: 18px;

}
.fileinput{
    /* margin: topo | direita | inferior | esquerda */
    margin: 0px 0px 10px 0px;

}

.submitform {
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
.pagina {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50px;
    outline: none;
    box-shadow: 0px     0px 10px black;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

