<html>
  
<div class="lista">
  <h1>
    Lista de Produtos Adicionados:
  </h1>
  <div class="produtodiv" *ngFor = "let produto of dadoArmazenado">
    Título: {{ produto.title }} <br/>
    Descrição: {{ produto.description }} <br/>
    Preço: {{ produto.value | currency: 'BRL'}} <br/>
    <br/>
  </div>
  <button class = "popup" (click) = "abrirPopUp()">Adicionar Item</button>

</div>
</html>



