


<div class="">
    <div class="info">
        <h1>Insira o produto desejado</h1><br>
        
        <br>
  
        <div class="field">
          <div class="control">
            <input class="input is-medium px-2" type="text" placeholder="Título do produto" name = "Título" [(ngModel)] = "dadosUser.title">
          </div>
        </div>
  
        <textarea class="textarea p-2" placeholder="Descrição do produto" name="Descrição" [(ngModel)] = "dadosUser.description"></textarea>
  
        <div class="field">
          <div class="control">
            <input class="input is-medium px-2" type="number" placeholder="Valor do produto" name = "valor" [(ngModel)] = "dadosUser.value">
          </div>
        </div>
  
        <div class="botoes">
          <input type="file" class="fileinput" id="fileinput" name = "file" [(ngModel)] = "dadosUser.url"><br>
  
          <button type="submit" class="submitform" (click) = 'enviar()' style = 'border-radius: 10px'>Enviar</button>
          
        </div>
  
    </div>
  </div>

