@import '~bootstrap/dist/css/bootstrap.min.css';

* {margin: 0; padding: 0; box-sizing: border-box;}
html, body {
    background: linear-gradient( -45deg, red, black);
}
.card {
    width: 500px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0px 10px 10px darkgrey;
}

.btnadd {
    color: white;
    background-color: darkblue;
    outline: none;
}