<!--<div class="lista">
  <div class="ListaItens" *ngFor="let prod of prodForCli">
    Título: {{ prod.title }} <br />
    Descrição {{ prod.description }}<br/>
    Valor: {{ prod.value }}<button>Comprar</button><br />
  </div>
</div> -->

<html>
  <body>
    <div class="card" *ngFor = "let prod of prodForCli"> 
      <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
      <img src="https://di-uploads-pod16.dealerinspire.com/victorymitsubishi/uploads/2018/12/pizza_56360353_xl-2015.jpg" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
      <div class="card-body">
        <p class="card-text">Título: {{ prod.title }}<br/>Descrição: {{ prod.description }}<br/>Preço: {{ prod.value | currency: 'BRL' }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btnadd btn-sm btn-outline-secondary">Add to Cart</button>
            <button type="button" class="btndesc btn-sm btn-outline-secondary" (click) = "abrirPopUp()">Description</button>
          </div>
        </div>
      </div>
    </div>
  </body>  
</html>
